main{
    display: flex;
    flex-direction: column;
}
.butao{
    background-color:#FFCB7C;
    max-width: 10vw;
    min-width: 8vw;
    padding: 0.5rem 0rem;
    border-radius: 10px;
    text-align: center;
}
#secao1{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
#secao1 div{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    line-height: 2.25rem;
    text-align: start;
    max-width: 30vw;
}
#secao1 div p{
    font-size: 1.5rem;
    padding: 1rem 0rem;

}
#secao2{
    display: flex;
    flex-direction: row;
    background-color: #ffcb7c56;
    padding: 2rem 0;
}

#secao2 div{
    display: flex;
    flex-direction: column;

}
#secao2 div h2{
    font-size: 1.5rem;
}
#secao2 div p{
    font-size: 1rem;
    line-height: 2.25rem;
}
#secao3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
#secao3 div{
    display: flex;
    flex-direction: row;

}
#secao3 div div{
    display: flex;
    flex-direction: column;


}
#bloco1{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30vw;
}
#bloco1 p{
    font-size: 1rem;
    line-height: 2.25rem;
}
#secao3 h2{
    font-size: 2rem;
}
#bloco3{
    display: flex;
    align-items: center;
    justify-content: space-around;
}