#navicon1 span{
  cursor: pointer;
  display: block;
  margin:4px;
  height: 6px;
  width:40px;
  background: #000000;
  border-radius: 9px;
  cursor:pointer; 
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#menu:checked ~ #navicon1 span:nth-child(1){
    -webkit-transform: rotate(135deg) translate(21px,-3px);
    -moz-transform: rotate(135deg) translate(21px,-3px);
    -o-transform: rotate(135deg) translate(21px,-3px);
    transform: rotate(135deg) translate(6px, -7px);
  }
  #menu:checked ~ #navicon1 span:nth-child(2){
     opacity: 0;
  }
  #menu:checked ~ #navicon1 span:nth-child(3){
    -webkit-transform: rotate(-135deg) translate(3px);
    -moz-transform: rotate(-135deg) translate(3px);
    -o-transform: rotate(-135deg) translate(3px);
    transform: rotate(-135deg) translate(6px, 9px);
  }
  input[type="checkbox"]{
    display:none;
  }