.caixas{
    background-color:#FFE6C1;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    min-height: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.caixas p {
    font-size: 0.8rem;
}
.caixas h1 {
    font-size: 2.5rem;
}
section{
    flex: 1 1 0px;
}
.direita{
    text-align: right;
}