@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Vidaloka&display=swap');
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
H1{
    font-size: 3rem;
    font-family: 'Vidaloka', serif;
}

p {
    font-size: 1.5rem;
    font-family: 'Lora', serif;

}

.butao{
    background-color:#FFCB7C;
    max-width: 10vw;
    min-width: 8vw;
    padding: 0.5rem 0rem;
    border-radius: 10px;
    text-align: center;
}
a{
    background-color: #FFCB7C, 100%;
    text-decoration: none;
    color: black;
    font-family: 'Lora', serif;

}